---
layout: default
---
<div class="home2">

{% include big_intro.html title='Science Gallery'
                          claim='Where art and science collide'
                          page_id='science-gallery' %}

{% include big_intro.html title="Caffè dell'Innovazione"
                          claim='Venezia in Campo ~ 3° Edizione'
                          page_id='caffe' %}

{% include big_intro.html title='La notte dei ricercatori'
                          claim='VenetoNight'
                          page_id='notte-dei-ricercatori' %}

{% include big_intro.html title='#VideomakARS'
                          claim='Venice Edition'
                          page_id='video-makars' %}

{% include big_intro.html title='DVRI'
                          claim="Distretto Veneziano della Ricerca e dell'Innovazione"
                          page_id='chi-siamo' %}

</div>
