<div class="footer-container">
  <div class="container footer" style="padding-bottom: 20px; max-width: 740px">
    <div class="row">

      <div class="col-sm-4 col-xs-6">
      <h5>Pagine</h5>
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">Homepage</a></li>
        <li><a href="{{ site.baseurl }}/progetti/chi-siamo.html">Chi Siamo?</a></li>
        <li><a href="{{ site.baseurl }}/progetti/science-gallery.html">Science Gallery Venice</a></li>
        <li><a href="{{ site.baseurl }}/progetti/cultural_galaxies.html">Galaxies of Culture</a></li>
        <li><a href="{{ site.baseurl }}/progetti/smart-passport.html">sMart Passport</a></li>
        <li><a href="{{ site.baseurl }}/progetti/caffe.html"> Caffè dell'Innovazione</a></li>
        <li><a href="{{ site.baseurl }}/progetti/social-events.html">Social Events</a></li>
      </ul>
      </div>

        <div class="col-sm-4 col-xs-6">
          <h5>Contatti</h5>
          <ul>
            <li><a href="https://www.google.it/maps/place/Calle+de+la+Saoneria,+3246,+30123+Venezia/@45.4356618,12.3235783,17z/data=!3m1!4b1!4m5!3m4!1s0x477eb1cf4227c43b:0x9de68d792b3860d9!8m2!3d45.4356618!4d12.325767?sa=X&ved=0ahUKEwiNvZHfv5TQAhWIUhQKHRi9DL4Q8gEIHDAA" target="_blank">Indirizzo</a></li>
            <li>Tel 041 2346961</li>
            <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
            <li><a href="mailto:dvr@unive.it">Mail</a></li>
            <li><a href="https://www.facebook.com/distrettoveneziano/?fref=ts" target="_blank">Facebook</a>
            </li>
            <li><a href="http://distrettovenezianoricerca.it/progetti/privacy.html" target="_blank">Informativa Privacy e Cookies</a>
            </li>
            <li><a href="http://distrettovenezianoricerca.it/progetti/trasparenza.html" target="_blank">Trasparenza</a>
            </li>
            <li>
              <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"9f20e2ae6f7523731d2962b27","lid":"b4016194af","uniqueMethods":true}) })</script>
            </li>

           <!--<div class="col-sm-4 col-xs-6">
           <img src="{{ site.baseurl }}/assets/logo-sfondo-nero.png">
           </div>-->
            </div>


      <div class="col-sm-4 col-xs-6">
        <h5> Founding Partners di <br/>
        <a href="https://venice.sciencegallery.com//" target="_blank" class="link_img"><img src="{{ site.baseurl }}/assets/SGLogo.png" alt="logo di Science Gallery Venice"></a>
        </h5>
        <h5> Media partnership con <br/>
        <a href="https://radiocafoscari.it/" target="_blank" class="link_img"><img src="{{ site.baseurl }}/assets/Logo-Radiocafoscari.png" alt="logo di Radio Ca' Foscari"></a>
        </h5>

        <script type="text/javascript">
if(document.cookie.indexOf("infotech=1") == -1){
document.body.innerHTML += '<div id="cookieInfoAry"  style="z-index: 99999; font-size: 80%; font-family: sans-serif; text-align: left; color: #fff; background-color: #4D4D4D; padding: 10px; margin: 0px; position: fixed; bottom: 0; left: 0; right: 0; height:auto;"><span id="info_breve" onclick="this.parentNode.remove();">Questo sito utilizza cookies tecnici per garantire il servizio e cookies di terze parti per analisi sul traffico. Chiudendo questo banner, scorrendo questa pagina o cliccando qualunque suo elemento ne acconsenti l’uso.</span> <a href="http://distrettovenezianoricerca.it/progetti/privacy.html" id="info_completa" style="color: #fff;">informativa completa</a>.  <a href="" style=" text-decoration: none; color: #fff; background: #046E13; padding: 5px;" onclick="document.getElementById(\'cookieInfoAry\').remove();">Ho Capito</a></div>';
document.cookie="infotech=1; expires=Thu, 31 Dec 2020 23:59:59 UTC; path=/";
}
</script>
      </div>

    </div><!--.row-->

  </div><!--.footer-->
</div><!--.footer-container-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86051530-1', 'auto');
  ga('send', 'pageview');
</script>
