
<div class="footer-container">
  <div class="container footer" style="padding-bottom: 20px; max-width: 740px">
    <div class="row">
      
  
      <div class="col-sm-4 col-xs-6">
      <h5>Pagine</h5>
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">Prima pagina</a></li>
        <li><a href="{{ site.baseurl }}/progetti/science-gallery.html">Science Gallery</a></li>
        <li><a href="{{ site.baseurl }}/progetti/caffe.html"> Caffè dell'Innovazione</a></li>
        <li><a href="{{ site.baseurl }}/progetti/video-makars.html">VideomakARS</a></li>
        <li><a href="{{ site.baseurl }}/progetti/notte-dei-ricercatori.html">Notte dei ricercatori</a></li>
        <li><a href="{{ site.baseurl }}/progetti/chi-siamo.html">Chi Siamo?</a></li>
      </ul>
      </div>
        
        <div class="col-sm-4 col-xs-6">
          <h5>Contatti</h5>
          <ul>
            <li><a href="https://www.google.it/maps/place/Calle+de+la+Saoneria,+3246,+30123+Venezia/@45.4356618,12.3235783,17z/data=!3m1!4b1!4m5!3m4!1s0x477eb1cf4227c43b:0x9de68d792b3860d9!8m2!3d45.4356618!4d12.325767?sa=X&ved=0ahUKEwiNvZHfv5TQAhWIUhQKHRi9DL4Q8gEIHDAA" target="_blank">Indirizzo</a></li>
            <li>Tel 041 2346961</li>
            <li><a href="#">Blog</a></li>
            <li><a href="mailto:dvr@unive.it">Mail</a></li>
            <li><a href="https://www.facebook.com/distrettoveneziano/?fref=ts" target="_blank">Facebook</a>
          </li>
        </div>

          <div class="col-sm-4">
    <img src="{{ site.baseurl }}/assets/logo-sfondo-nero.png" style="max-width: 100%">
    </div>
      <div class="col-sm-4 col-xs-6">
        <p> In media partnership con <br/>
        <a href="https://radiocafoscari.it/" target="_blank" class="link_img"><img src="{{ site.baseurl }}/assets/Logo-Radiocafoscari-.png" style="max-width: 50%"></a>
          </p>
      </div>
        
    </div><!--.row-->

  </div><!--.footer-->
</div><!--.footer-container-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-440601-20', 'auto');
  ga('send', 'pageview');

</script>
