{% assign image_files = site.static_files | where: page.gallery_scope, true %}

{% for myimage in image_files  limit: 1 %}
  <a href="{{ myimage.path | prepend: site.baseurl }}"
     data-lightbox="gallery">
    <img src="{{ myimage.path  | prepend: site.baseurl }}" />
  </a>
{% endfor %}


{% for myimage in image_files offset: 1 %}
  <a href="{{ myimage.path | prepend: site.baseurl }}"
     data-lightbox="gallery" style="display: none">
    <img src="{{ myimage.path  | prepend: site.baseurl }}" />
  </a>
{% endfor %}
