<div class="parent-container" id="header">
<div class="container">
  <div class="row">
    <h1 class="pull-left">
    <a href="{{index.html | prepend:site.baseurl}}/" class="navbar-brand page-scroll">DVRI-DISTRETTO VENEZIANO RICERCA INNOVAZIONE</a>
    </h1>
    <div class="pull-right">
      <a class="page-scroll btn" href="{{ site.baseurl }}/progetti/chi-siamo.html">Chi siamo?</a>
      <a class="page-scroll btn" href="{{ site.baseurl }}/science-gallery.html">Science Gallery Venice - Founding Partners</a>
      <!--
      <a class="page-scroll btn" href="{{ site.baseurl }}/smart-passport.html">sMart Passport</a>
      <a class="page-scroll btn" href="{{ site.baseurl }}/social-events.html">Social Events</a>
      <a class="page-scroll btn" href="{{ site.baseurl }}/caffe.html">Caffè Innovazione</a>
      <a class="page-scroll btn" href="{{ site.baseurl }}/social-events.html">Galaxies of Culture</a> -->
      <a class="page-scroll btn" href="{{ site.baseurl }}/blog.html">Blog</a>
    </div>
  </div>
</div><!--.container-->
</div><!--.header-container -->
