<div class="parent-container" id="header">
<div class="container">
  <div class="row">
    <h1 class="pull-left">
    <a href="{{index.html | prepend:site.baseurl}}/" class="navbar-brand page-scroll">DVRI</a>
    </h1>
    <div class="pull-right">
      <a class="page-scroll btn" href="{{ site.baseurl }}/index.html">Progetti</a>
      <a class="page-scroll btn" href="{{ site.baseurl }}/progetti/chi-siamo.html">Chi siamo?</a>
      <a class="page-scroll btn" href="#contact">Blog</a>  
    </div>
  </div>
</div><!--.container-->
</div><!--.header-container -->
