<section>

<h3>Le edizioni</h3>

<ul>
  <li>
    <a href="{{ site.baseurl }}/progetti/social-events-2014.html">Edizione 2014</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/progetti/social-events-2015.html">Edizione 2015</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/progetti/social-events-2016.html">Edizione 2016</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/progetti/social-events-2017.html">Edizione 2017</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/progetti/social-events-2018.html">Edizione 2018</a>
  </li>
</ul>
</section>
