// http://colorpalettes.net/color-palette-3065/
#caffe
  a
    background-color: rgba(65, 31, 14, 0.8)
  .background-image
    background-image: url('caffe.jpg')

  h2
    color: #fbcc01
    letter-spacing: 6px
    text-transform: uppercase
    font-weight: bold
  a
    color: #fbcc01 !important
  p
    font-family: Georgia
    color: #e18c01
    font-size: 24px
    &:hover
      text-decoration: none

#pagina-caffe
  width: 100%
  max-width: 740px
  h3
    font-family: Georgia
    color: #e18c01
    font-size: 24px
  p
    font-size: 21px
    color: #333