#pagina-intro-chi-siamo
  a
    background-color: rgba(120, 199, 208, 0.95)
    color: white
    text-decoration: none !important
  h2
    letter-spacing: 28px
    font-family: Georgia
  p
    font-weight: normal
    font-size: 12px
    letter-spacing: 3px
    text-transform: uppercase
#pagina-chi-siamo
  h4
    font-size: 10px
    text-transform: uppercase
  
  .col-xs-4
    p
      font-family: Georgia
      color: #666
  .sommario
    h3
      color: #C94634
    .toc-h4
      display: none
  a
    text-decoration: underline
  a:hover
    color: #C94634 

#body-pagina-chi-siamo
  .navbar-brand
    color: #C94634