// http://colorpalettes.net/color-palette-2386/
#pagina-intro-dvri-card
  background-color: rgba(55,72,120,0.8)

  h2
    font-family: 'Book Antiqua', 'Georgia'
    font-size: 42px
    color: white
    letter-spacing: 1px
    font-style: italic
  p
    color: white
    font-family: 'Monaco', 'Courier New'
    font-size: 18px
    letter-spacing: 1px

#pagina-dvri-card
  h3
    color: #00307d
  h4
    color: #009ed2
    letter-spacing: 2px
  strong
    color: #009ed2
