a
  color: black
a:hover
  color: black

#header
  h1
    padding: 0
    margin: 0
  .btn
    padding: 15px
html, body
  width: 100%
  height: 100%

.home2
  text-align: center

.home
  section
    padding: 20px
    padding-top: 110px
    padding-bottom: 110px
    background-color: #333
    position: relative
    text-align: center

  h2
    font-size: 32px
    width: 100%
  p
    font-size: 22px
    color: #fff

  .background-image
    background-position: center
    background-size: cover
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: -1
  
  // http://colorpalettes.net/color-palette-3065/
  #caffe
    background-color: rgba(65, 31, 14, 0.8)
    .background-image
      background-image: url('caffe.jpg')
    h2
      color: #fbcc01
      letter-spacing: 6px
      text-transform: uppercase
      font-weight: bold
    a
      color: #fbcc01 !important
    p
      font-family: Georgia


  // http://colorpalettes.net/color-palette-2386/
  #notte
    background-color: rgba(12,24,34, 0.95)
    .background-image
      background-image: url('venetonight.jpg')
    h2
      color: #fff
      font-weight: lighter
      letter-spacing: 8px
      text-transform: lowercase
      font-size: 40px
    a
      color: #fff
      font-weight: lighter !important
      text-decoration: none
    p
      font-family: Monaco
  
  // http://colorpalettes.net/color-palette-3016/
  #progetto
    background-color: #1d2f15
    h2
      color: #94da5e