// http://colorpalettes.net/color-palette-2386/
#pagina-intro-notte-dei-ricercatori
  background-color: rgba(12,24,44, 0.98)
  .background-image
    background-image: url('venetonight.jpg')
  h2
    color: #fff
    font-weight: lighter
    letter-spacing: 2px
    text-transform: lowercase
    font-size: 40px
    @media (max-width: 640px)
      font-size: 30px
  a
    color: #fff
    font-weight: lighter !important
    text-decoration: none
  p
    font-size: 20px
    text-transform: lowercase
    font-weight: 400

#pagina-notte-dei-ricercatori
  h3
    color: #00307d
    font-weight: lighter
  h4
    color: #009ed2
    font-weight: lighter
    letter-spacing: 2px