// http://colorpalettes.net/color-palette-2386/
#pagina-intro-science-gallery
  background-color: rgba(80,80,80, 0.5)
  .background-image
    background-image: url('venetonight.jpg')
  h2
    color: #fff
    font-weight: lighter
    letter-spacing: 8px
    text-transform: uppercase
    font-size: 40px

  a
    color: #fff
    font-weight: lighter !important
    text-decoration: none
  p
    font-family: Monaco
    letter-spacing: 10px
    color: #ccc
    font-style: italic