---
layout: page
page_id: social-events
title: Social Events 2019
claim: Earth Water Sky in Conversation
toc: false
gallery_scope: social_2019
---

{% include social_events.html %}
<br>
<strong><h4 style="font-size: 16px; color: #c94533; text-align: center;"> In occasione del Social Event del DVRI si terrà il talk <i>Earth Water Sky In Conversation</i> promosso da Science Gallery Venice</h4></strong>
	<h5 style="font-size: 16px; color: #00000; text-align: center;"> 22 ottobre 2019 h. 17.30 /Museo di Storia Naturale di Venezia</h5>
<br>
<h3>Earth Water Sky In Conversation</h3>
<h4>Un’immersione nel processo artistico che ha guidato la residenza artistica di Emma Critchley tra arte e scienze ambientali</h4>
<br>
<img src="{{ site.baseurl }}/assets/progetti/social-events/ews.jpeg" alt="Banner Earth Water Sky" class="col-xs-6/">
<br><br>
<p>Al termine del programma di residenza per artisti interessati all'ambiente e agli studi ambientali d’avanguardia, Emma Critchley, artista vincitrice della residenza promossa da Science Gallery Venice, racconterà la sua esperienza nell'ambito di Ice Memory, progetto di ricerca condotto da Carlo Barbante dell’Università Ca’ Foscari di Venezia..
Durante questo Talk l'artista parlerà del suo processo di ricerca e di sviluppo dell’opera parallelo al lavoro di ricerca degli scienziati coinvolti nel Progetto Ice Memory. L'intera conversazione sarà moderata da Ariane Koek, curatrice del programma di residenza.
Questa indagine tra arte e scienza avverrà presso il Museo di Storia Naturale di Venezia, che contestualmente per tutto il mese di ottobre ospita la mostra "Abissi" e una serie di workshop e giornate di studio sulla fotografia subacquea.
</p>

<h4>Il Programma di Residenza artistica Earth Water Sky </h4>

<p>Earth Water Sky è il programma di residenza triennale promosso da Science Gallery Venice dedicato agli artisti interessati all'ambiente e agli studi ambientali d’avanguardia. Ogni anno ci sarà un bando aperto ad artisti di qualsiasi forma d'arte - arti digitali, pittura, scultura, danza, performance, musica, multimedia, video, film, fotografia, scrittura, disegno - per richiedere una residenza a Venezia della durata di 2 mesi interamente finanziata. L'artista o gli artisti vincitori lavoreranno con i migliori scienziati dell'Università Ca' Foscari di Venezia e della regione Veneto.
Il programma di residenza è interamente finanziato dalla Fondation Didier et Martine Primat.
</p>

<h4>The Ice Memory Project</h4>
<br>
<img src="{{ site.baseurl }}/assets/progetti/social-events/icememory.jpg" alt="Icememory" class="col-xs-6/">
<br><br>
<p>Nella prima edizione della residenza, Emma Critchley, l'artista vincitrice del bando, sta lavorando con il Professor Carlo Barbante e il suo team di Ca' Foscari sul progetto internazionale Ice Memory. Questo straordinario progetto mira a costruire una biblioteca del ghiaccio tale da raccogliere reperti provenienti da regioni non polari che verranno poi conservati in Antartide. Questa biblioteca del Ghiaccio sarà composta da carote di ghiaccio ricavate da ghiacciai in pericolo di estinzione di tutto il mondo.
Dalle carote di ghiaccio e dalle bolle d'aria intrappolate nel ghiaccio, databili in alcuni casi fino al 18.000 a.C., gli scienziati possono ricostruire il clima del passato e la composizione atmosferica della Terra.
Si tratta di un’inestimabile testimonianza del cambiamento climatico.
</p>

<h4>Emma Critchley</h4>

<p>Emma Critchley ha lavorato in oceani, piscine e laghi di tutto il mondo per oltre 17 anni, creando film, fotografie e installazioni straordinarie e poetiche che hanno per soggetto la natura, l’acqua e la nostra relazione con essa.</p>

<p>Partecipazione gratuita previa iscrizione, fino a esaurimento posti.</p>
<a href="https://www.eventbrite.it/e/earth-water-sky-in-conversation-tickets-76073769693?ref=enivtefor001&invite=MTc5NzA3OTUvcGlldHJvbHVpZ2kuZ2Vub3Zlc2lAZm1jdmVuZXppYS5pdC8w%0A&utm_source=eb_email&utm_medium=email&utm_campaign=inviteformalv2&utm_term=eventpage">Registrarsi qui.</a>

<h4>Promosso da</h4>
<a href="https://venice.sciencegallery.com">Science Gallery Venice</a>

<h4>In collaborazione con</h4>
<a href="http://distrettovenezianoricerca.it">DVRI - Distretto Veneziano Ricerca e Innovazione</a>
<a href="https://msn.visitmuve.it/">MUVE -Museo di Storia Naturale di Venezia</a>

<h4>Creative Development Partners</h4>
<a href="http://www.operaestate.it/category/centro-per-la-scena-contemporanea/">CSC – Centro per la Scena Contemporanea</a>
<a href="https://www.y-40.com/it/">Y-40 The Deep Joy</a>

<h4>Sostenuto da</h4>
​<a href="https://www.fondationprimat.org/en/">Fondation Didier et Martine Primat</a>

<h4>Photo Credit</h4>
<a href="http://emmacritchley.com">Emma Critchley</a>

{% include social_events.html %}

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div id="mc_embed_signup">
<form action="https://distrettovenezianoricerca.us9.list-manage.com/subscribe/post?u=9f20e2ae6f7523731d2962b27&amp;id=b4016194af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Segui le ultime news del DVRI!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9f20e2ae6f7523731d2962b27_b4016194af" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
