---
layout: page
page_id: social-events
title: Social Events 2014
claim: Condividere significati per generare valore
toc: false
gallery_scope: social_2014
---
<h3> Social Event 2013: Condividere significati per generare valore </h3>
<h5> 1 dicembre 2014 | Aula Baratto di Ca' Foscari Centrale </h5>
<h5>Prima giornata di studio e confronto del Distretto Veneziano della Ricerca e dell’Innovazione</h5>
<p>Condividere Significati per generare valore prevedeva che si ragionionasse collegialmente sugli scenari che si stanno presentando nel futuro delle istituzioni che a Venezia si occupano di Ricerca e Innovazione, specialmente quelle che fanno rete nel DVRI. </p>
<h3> Il convengno </h3>
<p>:Il convegno Condividere Significati per Generare Valore:</p>
<ul>
  <li>è un’occasione unica di confronto sugli scenari futuri delle istituzioni che a Venezia si occupano di Ricerca, Cultura e Innovazione </li>
    <li>darà modo di conoscere alcune possibilità di sviluppo che si stanno concretamente prospettando nella realtà veneziana  </li>
    <li>offrirà spunti di riflessione sul capacity building di studiosi e ricercatori.Nel corso del Convegno verrà anche formalizzata l’adesione del Distretto Veneziano per la Ricerca e l’Innovazione alla Rete NETVAL;<li>
    </ul>

    <p>Presentazione del laboratorio di progettazione per il nuovo logo del DVRI in collaborazione con l’Accademia di Belle Arti di Venezia.

      <h5>GLI OBIETTIVI DEL DVRI</h5>
      <p>La valorizzazione delle potenzialità di crescita degli enti di ricerca, con attenzione allo sviluppo dell’ occupazione nel territorio.Promuovere una piattaforma in cui studenti e docenti possano cogliere efficacemente le opportunità proposte dai centri di ricerca e fondazioni. </p>
      <p>La trasformazione di Venezia in un campus internazionale, dove i visiting researchers ed i visiting professors ospiti dei vari enti possano trovare un punto di incontro per ampliare l’orizzonte della ricerca veneziana.La collaborazione per la partecipazione a bandi competitivi.</p>
      {% include gallery_social.html %}
<h5 style="text-align:center">PROGRAMMA</H5>
  <div style="text-align:center">
  <p>9.00 Accoglienza </p>
  <p style="text-align:center">9.15 Apertura convegno</p>
   <p> Carlo Carraro, Presidente del DVRI</li>
  <p style="text-align:center"><strong>Saluti Istituzionali </strong></p>
   <p>Michele Bugliesi, Rettore dell’Università Ca’ Foscari Venezia</p>
   <p>Florence Benoit Rhomer, Segretario Generale di EIUC, consigliere DVRI</p>
   <p>Luigino Rossi, Presidente Accademia Belle Arti di Venezia, consigliere DVRI</p>
  <p style="text-align:center"> <strong>9.45 - 1° SESSIONE</strong></p>
   <p>chairman: Pierpaolo Campostrini, Direttore Co.ri.la</p>
   <p>Mario Feltrin: Vice - segretario generale della Camera di Commercio I.A.A. di VeneziaIl ruolo del DVRI a supporto delle imprese e  del trasferimento tecnologico</p>
   <p>Giuseppe Conti: Vicepresidente della rete NETVAL La rete del DVRI a servizio del Trasferimento della Conoscenza e del Trasferimento Tecnologico: obiettivi ai quali tendere secondo l’esperienza di NETVAL</p>
   <p>Dario Pellizzon, Dirigente dell’Area Ricerca – Ufficio Ricerca Internazionale, Università Ca’ Foscari -I programmi europei di finanziamento per la valorizzazione della cultura: le attenzioni del DVRI per il prossimo settennato</p>
  <br>
  <p style="text-align:center">11.15 COFFEE BREAK</p>
  <br>
  <p style="text-align:center"><strong>11.30 2° SESSIONE</strong></p>
   <p>chairman: Fabio Poles, Direttore DVRI </p>
   <p>Michele Petochi, Managing Director, École Polytechnique Fédérale de Lausanne (EPFL), SwitzerlandLa  digitalizzazione dei giacimenti culturali: possibili benefici per il DVRI</p>
   <p>Luigino Rossi, Presidente Accademia di Belle Arti di VeneziaDigitalizzazione di un giacimento culturale e sua valorizzazione. Un’esperienza per il DVRI: il progetto “COSIGEVA”</p>
   <p>Michael John Gorman, CEO di Science Gallery – Dublin, Ireland Innovazione museale e valorizzazione del patrimonio culturale: il compito del DVRI</p>
  <p style="text-align:center"> <strong>13.00 FINE SESSIONE MATTUTINA<strong></p>
   <p>14.30 – 16.30 Tavola rotonda di confronto e dialogo tra gli associati al Distretto</p>
 </div>

{% include social_events.html %}
