---
layout: page
page_id: social-events
title: Social Events 2015
claim: Condividere significati per generare valore
toc: false
gallery_scope: social_2015
---
<h3> Social Event 2015: Art & Science Symposium <h3>
  <h5> 17 giugno 2015 | Fondazione Querini Stampalia ONLUS </h5>
    <p>Il Social Event del 2015 è stato dedicato al progetto Science Gallery Venice </p>
    <p> Michael John Gorman, CEO di Science Gallery International, ha presentato il modello museale dublinese, facendo un interessante discorso sui concetti chiave che guidano l'organizzazione: SURPRISE, CONNECT, PARTECIPATE.</p>
    {% include gallery_social.html %}
    <br>
    <br>
    <p>Importante appuntamento soprattutto in previsione del fatto che il progetto Science Gallery vedrà impegnato il DVRI nei prossimi anni, infatti il DVRI si è impegnato nella stesura dello Studio di Fattibilità per l'insediamento di una Science Gallery nella città di Venezia.</p>
    <p>A questo proposito l' Art & Science Symposium ha visto la convocazione dei soci, delle istituzioni pubbliche e private e degli interessati. L'occasione è stata oggetto di confronto e invito di adesione al progetto. </p>
    <p>Sono stati registrati i favori dei presenti, che stanno continuando a dimostrare il loro interesse nelle ricerche condotte per lo studio di fattibilità. </p>


{% include social_events.html %}
