---
layout: page
page_id: social-events
title: Social Events 2017
claim: Condividere significati per generare valore
toc: false
gallery_scope: social_2017
---

<h5 style="font-size: 16px; color: #c94533"> Social Event 2017: Urban Institutions</h5>
	<p>24 MAGGIO, ORE 15:00 | AREA PORTUALE - CFLI FABB.16</p>

<p>Il Distretto Veneziano della Ricerca e dell’Innovazione organizza il suo annuale Social Event presso il Centro Congressi dell’Area portuale di Venezia in collaborazione con Ca’ Foscari Sostenibile.
In accordo con gli obiettivi dell’Agenda per lo Sviluppo Sostenibile lanciata dalle Nazioni Unite, il DVRI insieme a Ca’ Foscari Sostenibile  intende promuovere una discussione sul tema della sostenibilità nelle sue tre dimensioni: economica, sociale e ambientale. </p>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/2h4LUhJ3cVw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<p>Attraverso il Format dei “ TAVOLI DELLA SOSTENIBILITA’” si tenterà di affrontare alcuni dei problemi evidenziati dall’agenda 2030. </p>
<p>In questo contesto le istituzioni culturali possono ricoprire il ruolo di “incubatori del cambiamento” affrontando le sfide globali  di sistemi complicati attraverso un approccio interdisciplinare e multidisciplinare al fine di condividere significati e  incoraggiare un’azione positiva in un’economia della conoscenza frantumata dalla postmodernità, dalla proliferazione di interessi e spesso  da conflitti e tensioni tra diverse alternative.
.</p>

{% include gallery_social.html %}

<h5> Programma della giornata </h5>
<p> <b> I relatori </b> <p>
<ul>
<li>Michele Bugliesi - Presidente del DVRI e Rettore di Ca' Foscari</li>
<li>Enrico Morgante - Direttore CFLI Venezia</li>
<li>Fabio Poles - Direttore DVRI</li>
<li>Fabio Pranovi - Delegato alla sostenibilità dell'Università Ca' Foscari</li>
<li>Gabriella Traviglia - Assegnista di ricerca DVRI</li>
<li>Maria Cristina Gribaudi - Presidente Fondazione Musei Civici</li>
<li>Irene Chini e Alice Palmieri - Re- StART Vega Project </li>
</ul>

<h5> Agenda 2030 sullo sviluppo sostenibile </h5>
<h5>#17 OBIETTIVI SVILUPPO SOSTENIBILE</h5>
<p>L’Agenda 2030 per lo Sviluppo Sostenibile è un programma d’azione per le persone, il pianeta e la prosperità sottoscritto nel settembre 2015 dai governi dei 193 Paesi membri dell’ONU. Essa ingloba 17 Obiettivi per lo Sviluppo Sostenibile - Sustainable Development Goals, SDGs - in un grande programma d’azione per un totale di 169 ‘target’ o traguardi. L’avvio ufficiale degli Obiettivi per lo Sviluppo Sostenibile ha coinciso con l’inizio del 2016, guidando il mondo sulla strada da percorrere nell’arco dei prossimi 15 anni: i Paesi, infatti, si sono impegnati a raggiungerli entro il 2030. Per raggiungere uno sviluppo sostenibile è importante armonizzare tre elementi fondamentali: la crescita economica, l’inclusione sociale e la tutela dell’ambiente.</p>

<h5> I tavoli della sostenibilità </h5>
<p> Il team del DVRI ha inaugurato un nuovo format di ricerca, i Tavoli della Sostenibilità: i rappresentanti dei 13 Istituti riuniti hanno formato tre gruppi di lavoro e discusso di uno dei 17 Obiettivi dell’Agenda 2030; l’intento era coniugare l’esperienza e le risorse di ciascun Ente per poter generare nuove proposte di Sviluppo Sostenibile. L’attività proposta è risultata efficiente e innovativa, avendo permesso la formazione di un concetto più ampio e variegato di sostenibilità e l’acquisizione di nuovi punti di vista. </5>

<h5> Le video interviste ai Leaders dei tavoli. </h5>
  <p> Giulia Bencini, delegata del Rettore di Ca' Foscari per la disabilità/DSA ci racconta l'esperienza del suo tavolo di lavoro al quale hanno partecipato scienziati, artisti, musicisti, medici, tante figure che compongono l'identità complessa del DVRI. La complessità dei punti vista e background è spesso difficile da gestire ma la ricchezza di questa giornata è stata anche frutto dei diversi approcci, che hanno condotto a risposte interdisciplinari ed originali.</p>
  <br>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/YKkFFbi44y4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
  <p> Federico Acerboni, Managger della Fondazione Querini Stampalia ci racconta l'esperienza del suo tavolo di lavoro</p>
  <br>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/1BE1aT8GUA8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br>
  <p>Infine Francesco Falcieri esearch Fellow al CNR ISMAR di Venezia ci racconta cosa è emerso dalla discussione nel suo tavolo di lavoro </p>
  <br>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/NBpinkcUy1w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h5> Il video completo del Social Event </h5>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/kNl6pQtCxs4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<a style="background-color:#5bb7b4; margin-left:300px; font-size:20px;" href="{{ site.baseurl }}/assets/progetti/social-events/Report2.pdf">SCARICA IL REPORT</a>

{% include social_events.html %}
