---
layout: page
page_id: social-events
title: Social Events 2016
claim: Condividere significati per generare valore
toc: false
gallery_scope: social_2016
---

<h5 style="font-size: 16px; color: #c94533"> Social Event 2016: COSA CI MUOVE</h5>
<h3> DVRI E CENTRO TEDESCO DI STUDI VENEZIANI INSIEME PER LA RICERCA </h3>
<p> 13 giugno 2016, ore 15.30 | Palazzo Barbarigo della Terrazza </p>

<p> Ricerca e Innovazione sono un obiettivo comune del Distretto Veneziano e Innovazione e il Centro Tedesco di Studi Veneziani che collaborano per una importante iniziativa in città di Venezia, aprendo le porte di Palazzo Barbarigo della Terrazza lunedì 13 giungo dalle ore 15.30. </p>
<p>Insieme, il Direttore del Centro Tedesco Romedio Schmitz-Esser e il Presidente del DVRI Michele Bugliesi hanno invitato i soci del DVRI, il pubblico del Centro Tedesco e la cittadinanza a partecipare a questa iniziativa volta a valorizzare la ricerca in città di Venezia, con obiettivi di divulgazione della ricerca, sensibilizzazione e avvicinamento di questa al pubblico e alla società tutta per riqualificare il tessuto culturale del nostro territorio in sinergia con i soggetti che la animano (cittadinanza, enti pubblici e privati, amministrazioni).</p>
{% include gallery_social.html %}
<br>
<p>Oltre ai soci (Conservatorio, CNR ISMAR e IDPA, Co.Ri.La., Centro Tedesco – anch’esso socio – Iveser, Accademia di Belle Arti, Fondazione Olga e Ugo Levi, IRCSS Ospedale San Camillo, Musei Civici di Venezia, Università Ca’ Foscari, Fondazione Querini Stampalia), hanno confermato la loro presenza anche l’assessore regionale Marcato, Giovani Confindustria, la VIU, il VEGA, AnciSa, PiGreco: the Entreprenuer Club, e diversi ricercatori attivi in città. </p>
<p>Due i momenti: <p>
<ul>
  <li>Alle 15.30 il Social Event del DVRI per parlare degli sviluppi dell’ente che riunisce i maggiori centri di cultura e di ricerca della città di Venezia. È stato possibile incontrare i rappresentanti delle istituzioni coinvolte; a moderare l’incontro Radio Ca’ Foscari.</li>
  <li>Alle 18.00 l’artist talk con la fotografa Inga Kerber, borsista del Centro Tedesco, per conversare con una delle voci che rappresentano lo scambio internazionale della città e valorizzare la fiorente attività dell’istituto negli scambi fra Germania e Italia; modera l’incontro Petra Schaefer.</li>
</ul>

<p>Durante l’appuntamento gli allievi del Conservatorio ‘Benedetto Marcello’ sono stati testimoni in due occasioni del fermento culturale della città eseguendo brani dal proprio repertorio.</p>

<h5> L’INVITO AI RICERCATORI </h5>
<p>Era stata aperta una Call for Researchers per invitare i ricercatori a prendere parte attiva all’iniziativa. La Call prevedeva di raccontare in sintesi la propria attività di ricerca in città e i ricercatori prenderanno parte a un momento a loro dedicato, in conversazione con la da Radio Ca’ Foscari, la radio universitaria (www.radiocafoscari.it) nelle persone di Gabriella Traviglia, Nicolò Groja e Chiara Bortolini.</p>

{% include social_events.html %}
