<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
<div class="parent-container" id="header">
<div class="container">
  <div class="row">
    <h1 class="pull-left"><a href="" class="navbar-brand page-scroll">DVRI</a></h1>
    <div class="pull-right">
      <a class="page-scroll btn" href="#download">Progetti</a>
      <a class="page-scroll btn" href="#features">Rete</a>
      <a class="page-scroll btn" href="#contact">Blog</a>  
    </div>
  </div>
</div><!--.container-->
</div><!--.header-container -->


 {{ content }} 
  <div class="container" style="padding: 20px">
    <a href="https://www.google.it/maps/place/Calle+de+la+Saoneria,+3246,+30123+Venezia/@45.4356618,12.3235783,17z/data=!3m1!4b1!4m5!3m4!1s0x477eb1cf4227c43b:0x9de68d792b3860d9!8m2!3d45.4356618!4d12.325767?sa=X&ved=0ahUKEwiNvZHfv5TQAhWIUhQKHRi9DL4Q8gEIHDAA" class="btn" target="_blank">Ca' Dolfin - Dorsoduro 3246, Calle della Saoneria, 30123 - VENEZIA</a>
    <div class="pull-right">
      <a href="mailto:dvr@unive.it" class="btn">Mail</a>
      <a href="https://www.facebook.com/distrettoveneziano/?fref=ts" target="_blank"  class="btn">Facebook</a>
      <div style="padding:20px; display: inline">Tel: 041 2346961</div>
    </div>
  </div>
  </body>

</html>
