<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
    <body>
    {% include menu.html %}
    <div class="home2">
    {% include big_intro.html title=page.title
                              claim=page.claim
                              page_id=page.page_id
                              image=page.image
                              position=page.position %}
    </div>
    
    {% include big_intro.html %}
    <div class="container pagina" id="pagina-{{page.page_id}}">
      <div class="row">
        <div class="col-xs-12">
        {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    </body>
</html>